<div class="container main_admin">

  <!-- Single Product -->
  <div class="col-12 col-sm-6 col-lg-6">
    <h1>Admin Page</h1>

    <form action="/admin/shop" method="POST">
      <div class="form-group">
        <label for="goodName">Good name</label>
        <input
          type="text"
          class="form-control"
          id="goodName"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          name="name"
        />
      </div>
      <div class="goodPrice">
        <label for="exampleInputPassword1">Good price</label>
        <input
          type="text"
          class="form-control"
          id="goodPrice"
          placeholder="price"
          name="price"
        />
      </div>
      <div class="form-group">
        <label for="goodLink">Good link</label>
        <input
          type="text"
          class="form-control"
          id="goodLink"
          placeholder="link adress"
          name="link"
        />
      </div>
      <div class="form-group">
        <label for="hoverlink">hoverlink</label>
        <input
          type="text"
          class="form-control"
          id="hoverlink"
          placeholder="link adress"
          name="hoverlink"
        />
      </div>

      <input type="hidden" name="_csrf" value="{{csurf}}" />
      <button type="submit" class="btn btn-primary">create</button>
    </form>

    <hr />

    <form action="/admin/addGood" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="hoverlink">Add new good image from PC</label>
        <input
          type="file"
          class="form-control btn btn-light"
          id="hoverlink"
          placeholder="link adress"
          name="newGood"
        />
      </div>
      <input type="hidden" name="_csrf" value="{{csurf}}" />
      <button type="submit" class="btn btn-primary">Add image</button>
    </form>

  </div>

</div>